<h1 class="text-header">MOVIES</h1>

<div class="pic"><%= image_tag("https://www.denofgeek.com/wp-content/uploads/2017/09/batman_animated_essential_primary.jpg?resize=768%2C432", size: "900x500") %></div>

<table class="content-table">
  <thead>
  <tr>
    <th>Poster</th>
    <th>Title</th>
    <th>Release Date</th>
    <th>Synopsis</th>
  </tr>
  </thead>

  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= image_tag(movie.poster, size: "150x200") %></td>
      <td><%= movie.title %></td>
      <td><%= movie.release_date %></td>
      <td><%= movie.synopsis %></td>
    </tr>
  <% end %>
  </tbody>
</table>