<h1 class="text-header">EPISODES</h1>

<div class="pic"><%= image_tag("https://dotandline.net/wp-content/uploads/2019/05/1_G67dynBVa1SvWTht3_jQhQ-1210x642.jpeg", size: "900x500") %></div>

<table class="center-table">
  <thead>
  <tr>
    <th>Episode</th>
    <th>Season</th>
    <th>Title</th>
    <th>Synopsis</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @episodes.each do |episode| %>
    <tr>
      <td><%= episode.number %></td>
      <td><%= episode.season %></td>
      <td><%= episode.title %></td>
      <td><%= episode.synopsis %></td>
    </tr>
  <% end %>
  </tbody>
</table>