<h1 class="text-header" data-qa="episodes-page-header">EPISODES</h1>

<div class="pic"><%= image_tag(@episode.title_card, size: "900x500") %></div>

<table class="content-table">
  <thead>
    <tr>
      <th>Season</th>
      <th>Episode</th>
      <th>Title</th>
      <th>Synopsis</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td data-qa="episode-season"><%= @episode.season %></td>
      <td data-qa="episode-number"><%= @episode.number %></td>
      <td data-qa="episode-title"><%= @episode.title %></td>
      <td data-qa="episode-synopsis"><%= @episode.synopsis %></td>
    </tr>
  </tbody>
</table>