<%= form_with(model: @character, local: true) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% @character.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alias, class: "form-label" %><%= f.text_field :alias, size:"25" %><br>
  </div>
  <div class="field">
    <%= f.label :real_name, class: "form-label" %><%= f.text_field :real_name, size:"25" %><br>
  </div>
  <div class="field">
    <%= f.label :debut, class: "form-label" %><%= f.text_field :debut, size:"25" %><br>
  </div>
  <div class="field">
    <%= f.label :status, class: "form-label" %><%= f.select :status, %w[Hero Villain] %><br>
  </div>
  <div class="field">
    <%= f.label :bio, class: "form-label" %><%= f.text_area :bio, cols: "25", rows: "10" %><br>
  </div>
  <div class="actions">
    <br><%= f.submit %>
  </div>
<% end %>