<%= form_with(model: @character, local: true) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% @character.errors.full_messages.each do |message| %>
          <li data-qa="create-character-error-message"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div><%= f.label :alter_ego, class: "form-label" %></div>
    <div><%= f.text_field :alter_ego, size:"50" %></div><br>
  </div>
  <div class="field">
    <div><%= f.label :real_name, class: "form-label" %></div>
    <div><%= f.text_field :real_name, size:"50" %></div><br>
  </div>
  <div class="field">
    <div><%= f.label :debut, class: "form-label" %></div>
    <div><%= f.text_field :debut, size:"50" %></div><br>
  </div>
  <div class="field">
    <div><%= f.label :status, class: "form-label" %></div>
    <div><%= f.select :status, %w[Hero Villain] %></div><br>
  </div>
  <div class="field">
    <div><%= f.label :bio, class: "form-label" %></div>
    <div><%= f.text_area :bio, cols: "50", rows: "5" %></div><br>
  </div>
  <div class="actions">
    <div><%= f.submit 'Create Character', id: "submit_character_button" %></div>
  </div>
<% end %>