<h1>Character</h1>

<table>
  <% if @characters.empty? %>
    <thead>
      <tr>
        <td>Character not found</td>
      </tr>
    </thead>
  <% else %>
    <thead>
      <tr>
        <th>Alias</th>
        <th>Real Name</th>
        <th>Debut</th>
        <th>Status</th>
        <th>Bio</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td><%= character.alias %></td>
          <td><%= character.real_name %></td>
          <td><%= character.debut %></td>
          <td><%= character.status %></td>
          <td><%= character.bio %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<br><br><%= link_to 'Home Page', root_path %>