<h1 class="text-header">CHARACTERS</h1>

<div class="pic"><%= image_tag("https://images.justwatch.com/backdrop/13952236/s1440/batman-the-animated-series", size: "900x500") %></div>

<table class="content-table">
  <thead>
  <tr>
    <th>Avatar</th>
    <th>Alias</th>
    <th>Real Name</th>
    <th>Debut</th>
    <th>Status</th>
    <th>Bio</th>
  </tr>
  </thead>

  <tbody>
  <% @characters.each do |character| %>
    <tr>
      <td><%= image_tag(character.avatar, size: "200x125") %></td>
      <td><%= character.alias %></td>
      <td><%= character.real_name %></td>
      <td><%= character.debut %></td>
      <td><%= character.status %></td>
      <td><%= character.bio %></td>
    </tr>
  <% end %>
  </tbody>
</table>
