<!DOCTYPE html>
<html>
  <head>
    <title>BatmanApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag("https://batman-on-film.com/wp-content/uploads/2018/03/batman-the-animated-series.png", size: "300x100") %>
    <%= link_to 'Characters', characters_path %>
    <%= link_to 'Episodes', episodes_path %>
    <%= link_to 'Movies', movies_path %>
    <%= link_to 'Actors', actors_path %>

    <%= yield %>
  </body>
</html>
