<!DOCTYPE html>
<html>
  <head>
    <title>BatmanApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="Batman App" content="">
    <meta name="Justin Linville" content="">

    <link href="css/batman.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="grid-container">
      <div class="header">
<!--        <div style="text-align:left"><%#= image_tag('https://batman-on-film.com/wp-content/uploads/2018/03/batman-the-animated-series.png', size: "300x100") %></div>-->
        <%#= link_to 'Characters', characters_path %>
        <%#= link_to 'Episodes', episodes_path %>
        <%#= link_to 'Movies', movies_path %>
        <%#= link_to 'Actors', actors_path %>
        <%#= link_to 'Create Character', new_character_path %>
<!--        <span style="text-align:right">-->
          <%#= form_tag "/characters/find" do %>
            <%#= text_field_tag :search_string %>
            <%#= submit_tag "Search for characters" %>
          <%# end %>
<!--        </span>-->

        <ul class="nav">
          <li style="text-align:left"><%= link_to image_tag('https://batman-on-film.com/wp-content/uploads/2018/03/batman-the-animated-series.png', size: "300x100"), root_path %></li>
          <li><%= link_to 'Characters', characters_path %></li>
          <li><%= link_to 'Episodes', episodes_path %></li>
          <li><%= link_to 'Movies', movies_path %></li>
          <li><%= link_to 'Actors', actors_path %></li>
          <li><%= link_to 'Create Character', new_character_path %></li>
          <li style="text-align:right">
            <%= form_tag "/characters/find" do %>
              <%= text_field_tag :search_string %>
              <%= submit_tag "Search for characters" %>
            <% end %>
          </li>
        </ul>
      </div>

      <%= yield %>

      <div class="footer">
        <p>© 2020 Justin Linville</p>
      </div>
    </div>
  </body>
</html>
