<!DOCTYPE html>
<html>
  <head>
    <title>BatmanApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="Batman App" content="">
    <meta name="Justin Linville" content="">

    <link href="css/batman.css" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/da705311fac0a226b798b256cf704209?family=PlazaW01-Regular" rel="stylesheet" type="text/css"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="grid-container">
      <div class="header">
        <ul class="nav">
          <li style="padding-right: 50px;"><%= link_to image_tag('https://batman-on-film.com/wp-content/uploads/2018/03/batman-the-animated-series.png', size: "300x100", id: 'batman_logo'), root_path %></li>
          <li><%= link_to 'Characters', characters_path, id: 'characters_link' %></li>
          <li>-</li>
          <li><%= link_to 'Episodes', episodes_path, id: 'episodes_link' %></li>
          <li>-</li>
          <li><%= link_to 'Movies', movies_path, id: 'movies_link' %></li>
          <li>-</li>
          <li><%= link_to 'Actors', actors_path, id: 'actors_link' %></li>
          <li>-</li>
          <li><%= link_to 'Create Character', new_character_path, id: 'create_character_link' %></li>
          <li style="padding-left: 50px;">
            <%= form_tag "/characters/find" do %>
              <%= text_field_tag :search_string %>
              <%= submit_tag "Search for characters", id: 'search_button' %>
            <% end %>
          </li>
        </ul>
      </div>

      <%= yield %>

      <div class="footer" style="padding-top: 10px;">
        <span style="padding-right: 50px;">© 2020 Justin Linville</span>
        <%= link_to image_tag('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png', size: "40x40"), 'https://github.com/jlinville01' %></li>
        <%= link_to image_tag('https://1000logos.net/wp-content/uploads/2017/03/LinkedIn-Logo.png', size: "40x40"), 'https://www.linkedin.com/in/justinlinville1/' %></li>
      </div>
    </div>
  </body>
</html>
